data
found*
output
__pycache__/*
15_1_4 code.txt
__pycache__/adt.cpython-38.pyc
__pycache__/enumerator.cpython-38.pyc

zaratan/
D
M
local*/
our_funsearch/__pycache__/

try/__pycache__/
save/
*.pkl

sfound*
our_funsearch/matrix/__pycache__/
our_funsearch/matrix/66Hx.mtx
our_funsearch/matrix/66Hz.mtx
our_funsearch/matrix/QX80.mtx
our_funsearch/matrix/QZ80.mtx
our_funsearch/matrix/result
our_funsearch/matrix/good_log*
our_funsearch/matrix/logs
our_funsearch/matrix/result
our_funsearch/matrix/good_log
our_funsearch/matrix/*.mtx
our_funsearch/matrix/out*
our_funsearch/matrix/2gba/
our_funsearch/matrix/BB/
our_funsearch/matrix/isWorking.txt
xfound*
BivariateBicycleCodes/00Hx.mtx
BivariateBicycleCodes/00Hz.mtx
BivariateBicycleCodes/__pycache__/
our_funsearch/matrix/group/
our_funsearch/matrix/finished.txt
our_funsearch/matrix/back/
our_funsearch/matrix/BB_sopt1/*
our_funsearch/matrix/BB_sopt2/*
try/back.py
try/*.txt
try/result*
